.result-container{
background-color: var(--bg-color);
border: 12px solid var(--bg-color);
filter: var(--filter2);
display: flex;
justify-content: flex-start;
align-items: center;
position: relative;
font-size: 18px;
letter-spacing: 1px;
height: 60px;
width: 100%;
margin-bottom: 35px;
}

.result-container .btn{
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    width: 40px;
}

textarea{
    background: none;
    border: solid 3px;
    height : 42px;
    color: var(--color);
    font-size: 20px;
    margin-top: auto;
    outline: none;
}

.buttons{
    display: flex;
}

.btn{
    width: 50%;
    border: solid;
    color: var(--color);
    cursor: pointer;
    font-size: 16px;
    padding: 8px 12px;
    margin: 14px 5px 7px 5px;
    background-color: var(--bg-color);
    filter: var(--filter2);
}